<a href="/">Go Back home</a>
<form method="post">
  <div>
    <input type="text" name="title">
    <span>Song Title</span>
  </div>
  <div>
    <input type="text" name="author">
    <span>Song Artist</span>
  </div>
  <div>
    <input type="text" name="url">
    <span>Url to song</span>
  </div>
  <div>
    <input type="submit" text="Add Song">
  </div>
</form>

